LambdaIterator/src/main/resources/FoFiStateMachine1.json
{
	"Comment": "Split a single input into several arrays. Iterate through each array in parallel and process each array member. Merge results in a single output.",
	"StartAt": "ConfigureCount",
	"States": {
		"SplitInputIntoMultipleArrays": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-2:292165215614:function:MyLambdaSplitIntoArrays",
			"Result": {
				"count": 10,
				"index": 0,
				"step": 1
			},
			"ResultPath": "$.iterator",
			"Next": "ProcessArraysInParallel"
		},
		"ProcessArraysInParallel": {
			"Type": "Parallel",
			"Branches": [
				{
					"StartAt": "ProcessFirstArray",
					"States": {
						"ProcessFirstArray": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-east-2:292165215614:function:MyLambdaProcessArray",
							"ResultPath": "$.iterator",
							"Next": "Iterator"
						}
					}
				},
				{
					"StartAt": "ProcessSecondArray",
					"States": {
						"ProcessSecondArray": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-east-2:292165215614:function:MyLambdaProcessArray",
							"ResultPath": "$.iterator",
							"Next": "Iterator"
						}
					}
				},
			]
		},

		"Iterator": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-2:292165215614:function:Iterator",
			"ResultPath": "$.iterator",
			"Next": "IsCountReached"
		},
		"IsCountReached": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.iterator.continue",
					"BooleanEquals": true,
					"Next": "ProcessItem"
				}
			],
			"Default": "AggregateProcessedArrays"
		},
		"ProcessItem": {
			"Comment": "Your application logic, to run a specific number of times",
			"Resource": "arn:aws:lambda:us-east-2:292165215614:function:MyLambdaHelloFunction",
			"Type": "Task",
			"ResultPath": "$.result",
			"Next": "Iterator"
		},
		"AggregateProcessedArrays": {
			"Comment": "Aggregate parallel branches results here",
			"Resource": "arn:aws:lambda:us-east-2:292165215614:function:HelloFunctionAggregator",
			"Type": "Task",
			"ResultPath": "$.result",
			"End": true
		}
	}
}
