LambdaProcessArray/src/main/resources/FanOutFanIn.json
{
  "StartAt": "SplitInpArray",
  "States": {
     "SplitInpArray": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:292165215614:function:LambdaSplitInpArray",       
            "Next": "ProcessArraysInParallel"
        }, 
    "ProcessArraysInParallel": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
         "StartAt": "ProcessFirstArray",
         "States": {
           "ProcessFirstArray": {       
             "Type": "Task",
             "Resource": "arn:aws:lambda:us-east-2:292165215614:function:LambdaProcessArray", 
             "InputPath": "$.[0]",
             "Next": "ChooseBasedOnCombinedParallelOutput"
           }
         }
       },
       {
         "StartAt": "ProcessSecondArray",
         "States": {
           "ProcessSecondArray": {

             "Type": "Task",
             "Resource": "arn:aws:lambda:us-east-2:292165215614:function:LambdaProcessArray", 
             "InputPath": "$.[2]",
             "Next": "ChooseBasedOnCombinedParallelOutput"
           }
         }
       }
      ]
    },
    "ChooseBasedOnCombinedParallelOutput": {
    "Type": "Choice",
  "Choices": [
    {
        "Not": {
          "Variable": "$.type",
          "StringEquals": "Private"
        },
        "Next": "Public"
    },
    {
      "Variable": "$.value",
      "NumericEquals": 0,
      "Next": "ValueIsZero"
    },
    {
      "And": [
        {
          "Variable": "$.value",
          "NumericGreaterThanEquals": 20
        },
        {
          "Variable": "$.value",
          "NumericLessThan": 30
        }
      ],
      "Next": "ValueInTwenties"
    }
  ],
  "Default": "DefaultState"
},

"Public": {
  "Type" : "Task",
  "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Foo",
  "Next": "NextState"
},

"ValueIsZero": {
  "Type" : "Task",
  "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Zero",
  "Next": "NextState"
},

"ValueInTwenties": {
  "Type" : "Task",
  "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Bar",
  "Next": "NextState"
},

"DefaultState": {
  "Type": "Fail",
  "Cause": "No Matches!"
}
  }
}

